body {
    font-family: "Arial", "sans-serif";
}

.container {
    margin: auto;
    width: 85%;
}

footer {
    margin-top: 2em;
    text-align: center;
}

img.re_logo {
  float: right;
  object-fit: contain;
  width: clamp(100px, 30%, 200px);
  margin: 10px;
  position: sticky;
  top: 10px;
  right: 10px;
}

